/*	SlideShow for PS4 Pro
---------------------------------------------- */

.carousel-indicators {
	bottom: 15px;
}

.slideweuni-title > h1 {
	margin-right: 0;
}

.slideweuni-headerbar {
	background-color: #212121;
	background-image: -webkit-linear-gradient(top, #212121 0%, #212121 2px, #212121 92px, #212121 100%);
	background-image: linear-gradient(to bottom, #212121 0%,#212121 2px,#212121 92px,#212121 100%);
	background-repeat: repeat-x;
	color: #FFFFFF;
	margin-bottom: 4px;
	padding: 5px;
}

#main-sliderwe {
	position: inherit;
}

#search-box-we {
	position: absolute;
	top: 0;
	right: 0;
	margin-right: 45px;
	margin-top: 30px;
	z-index: 2;
}

.carousel-control.left {
	top: 4px;
	bottom: 4px;
	left: 4px;
}

.carousel-control.right {
	top: 4px;
	bottom: 4px;
	right: 4px;
}

@media only screen and (max-width: 1050px), only screen and (max-device-width: 1050px) {
	.inventea-sitename {
		top: 35px;
		padding: 0 0 0 120px;
	}
	#search-box-we {
	margin-right: 10px;
	margin-top: 10px;
	}
	.text-border {
		font-size: 28px;
	}
	.carousel-indicators {
		bottom: 10px;
	}
	.carousel-control .glyphicon-chevron-left,
	.carousel-control .glyphicon-chevron-right {
		font-size: 25px;
	}
}

@media only screen and (max-width: 700px), only screen and (max-device-width: 700px) {
	.slideweuni-title {
		display: block;
	}
	.inventea-sitename {
		display: none;
	}
	.carousel-indicators {
		display: none;
	}
	.glyphicon	{
		top: 40% !important;
	}
	.carousel-control .glyphicon-chevron-left,
	.carousel-control .glyphicon-chevron-right {
		font-size: 13px;
	}
	.slideweuni-headerbar {
		margin-left: -5px;
		margin-right: -5px;
		border-radius: unset;
	}
}