/*	SlideShow for Black-Silver Styling
---------------------------------------------- */

.black_silver_wrap > h1,
.black_silver_wrap > h5 {
	display: none;
}

.black-topwe {
	border-top: 28px solid #3f3f3f;
	margin: -5px 0 5px;
}

#main-sliderwe {
	position: inherit;
}

#search-box-we {
	position: absolute;
	top: 0;
	right: 0;
	margin-right: 45px;
	margin-top: 30px;
	z-index: 2;
}

.slideweuni-preheaderbar {
	background-color: #3f3f3f;
	background-image: url("./../images/bg_header.jpg");
}

.navbar {
	margin-top: unset;
}

.slideweuni-prehead {
	margin: 0 auto;
	width: 80.6%;
	margin-top: -5px !important;
}

@media only screen and (max-width: 2570px), only screen and (max-device-width: 2570px) {
	.slideweuni-prehead {
		width: 79.5%;
	}
	.inventea-sitename {
		top: 100px;
		padding: 0 0 0 300px;
	}
}

@media only screen and (max-width: 1650px), only screen and (max-device-width: 1650px) {
	.slideweuni-prehead {
		width: 80.6%;
	}
	.inventea-sitename {
		top: 60px;
		padding: 0 0 0 180px;
	}
}

@media only screen and (max-width: 1220px), only screen and (max-device-width: 1220px) {
	.slideweuni-preheaderbar {
		margin-left: -12px;
		margin-right: -12px;
	}
	.slideweuni-prehead {
		width: 79.5%;
	}
}

@media only screen and (max-width: 1050px), only screen and (max-device-width: 1050px) {
	.inventea-sitename {
		top: 35px;
		padding: 0 0 0 120px;
	}
	#search-box-we {
	margin-right: 10px;
	margin-top: 10px;
	}
	.text-border {
		font-size: 28px;
	}
	.carousel-indicators {
		bottom: 5px;
	}
	.carousel-control .glyphicon-chevron-left,
	.carousel-control .glyphicon-chevron-right {
		font-size: 25px;
	}
}

@media only screen and (max-width: 900px), only screen and (max-device-width: 900px) {
	.slideweuni-prehead {
		margin: 0 10px;
		width: auto;
	}
}

@media only screen and (max-width: 700px), only screen and (max-device-width: 700px) {
	.slideweuni-preheaderbar {
		margin-left: -5px;
		margin-right: -5px;
	}
	.slideweuni-prehead {
		margin: 0;
	}
	.slideweuni-title {
		display: block;
		margin-bottom: 15px;
	}
	.inventea-sitename {
		display: none;
	}
	.carousel-indicators {
		display: none;
	}
	.glyphicon	{
		top: 40% !important;
	}
	.carousel-control .glyphicon-chevron-left,
	.carousel-control .glyphicon-chevron-right {
		font-size: 13px;
	}
}